@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThin.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThin.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLight.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLight.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansExtraLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegular.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegular.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBold.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBold.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavy.ttf");
  src: url("/./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavy.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThinOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTThinOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansThinOblique.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLightOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTExtraLightOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansExtraLightOblique.otf") format("opentype");
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegularOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTRegularOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansRegularOblique.otf") format("opentype");
  font-weight: italic;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBoldOblique.ttf");
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTBoldOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansBoldOblique.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'CiscoSans';
  src: url("./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavyOblique.ttf");
  src: url("/./../../Cisco_Fonts/CiscoSans TTF/CiscoSansTTHeavyOblique.ttf") format("truetype"), url("./../../Cisco_Fonts/CiscoSans OTF/CiscoSansHeavyOblique.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
/* line 11, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: CiscoSans;
}

/* line 18, ../sass/main.scss */
#sidebar {
  display: -webkit-flex;
  display: flex;
  padding: 20px;
  position: relative;
  width: 300px;
  height: 100%;
  color: white;
  box-sizing: border-box;
  background-color: #049fd9;
}

/* line 29, ../sass/main.scss */
#application-wrapper {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

/* line 34, ../sass/main.scss */
.main-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 41, ../sass/main.scss */
.text-input {
  padding: 5px 10px;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: 1px;
}

/* line 48, ../sass/main.scss */
.meeting-creator {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

/* line 53, ../sass/main.scss */
#meeting-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

/* line 59, ../sass/main.scss */
.label {
  font-weight: 100;
  margin: 10px 0 5px 0;
  width: 100%;
  text-align: center;
}

/* line 65, ../sass/main.scss */
.submit-button {
  font-size: 1rem;
  margin: 15px;
  border-radius: 1px;
  border: none;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  color: white;
  box-shadow: 0 1px 0 #398f38;
  background-color: #43A942;
}
/* line 76, ../sass/main.scss */
.submit-button:disabled {
  box-shadow: 0 1px 0 #4F5051;
  background-color: #d7d7d8;
  color: #858688;
  cursor: default;
}
